body
    background-color: #eee
    min-width: 1254px

.container
    width: 1254px
    margin: auto

.clr
  +clr

a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:active
    text-decoration: underline

.section
  &__title
    color: #444444
    font-family: "PF Din Text Cond Pro"
    font-size: 30px
    font-weight: 400
    line-height: 40px
    text-transform: uppercase
