+font('pfdin-regular', 'pfdintextcondpro-regular')
+font('pfdin-italic', 'pfdintextcondpro-italic')
+font('tt0248', 'tt0248m')
+font('tt0249', 'tt0249m')

body
  background-color: #eee
  min-width: 1254px
  font-family: 'pfdin-regular', sans-serif
input,
button,
select,
textarea
  font-family: 'pfdin-regular', sans-serif

.container
  width: 1254px
  margin: auto

.clr
  +clr

a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:active
    text-decoration: underline

.text-center
  text-align: center

.text-right
  text-align: right

.text-left
  text-align: left

.mr40
  margin-right: 40px
.ml40
  margin-left: 40px
.mr20
  margin-right: 20px
.ml20
  margin-left: 20px
.pr40
  padding-right: 40px
.pl40
  padding-left: 40px

.section
  & + .section
    margin-top: 37px
  &__title
    font-size: 30px
    font-weight: 400
    line-height: 40px
    text-transform: uppercase
    a
      color: #444444
      &:hover
        color: #fc2db7
        text-decoration: none
      &:active
        color: #9f9f9f

  &__hr
    border-top: 0
    border-bottom: 1px solid #eee
    &--pink
      border-color: #fb2cb6

.btn
  &--more,
  &--submit
    margin-top: 20px
    padding: 7px 37px
    color: #eeeeee
    font-size: 22px
    font-weight: 400
    background-color: #828282
    &:hover
      background-color: #fc2db7
    &:active
      background-color: #9f9f9f

.right-col
  width: 816px
  +dib
  &__title
    color: #000000
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 30px
  &__hr
    border-top: 0
    border-bottom: 1px solid #9f9f9f
  .breadcrumb
    margin-left: 0
    margin-bottom: 25px
    .catalog-page &
      margin-bottom: 18px

.simple-page
  &__link.btn
    color: #9f9f9f
    font-size: 16px
    font-weight: 400
    text-decoration: underline
    &:hover
      text-decoration: none
    &:active
      color: #ddd
  .breadcrumb
    margin-bottom: 17px
    .blog-page &
      margin-bottom: 21px
  &__title
    color: #000000
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    text-align: center
    margin-bottom: 25px
  &__subtitle
    color: #000000
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    text-align: center
    margin-bottom: 28px
  &__hr
    border-top: 0
    border-bottom: 1px solid #9f9f9f
    margin-bottom: 20px
  &__section
    a
      color: black
      text-decoration: underline
      &:hover
        text-decoration: none
      &:active
        color: #9f9f9f
  .section__title
    color: #444
  &__section-desc
    margin-bottom: 25px

.list
  font-size: 16px
  font-weight: 400
  color: #000000
  > li
    margin-bottom: 10px
    padding-left: 40px
    padding-right: 40px
  &--unordered
    li:before
      content: '•'
      display: inline-block
      vertical-align: baseline
      color: #fc2db7
      margin-right: 4px
  &--ordered
    counter-reset: list
    > li
      color: #000000
      font-size: 22px
      &:before
        counter-increment: list
        content: counter(list) '.'
        display: inline-block
        vertical-align: baseline
        color: #fc2db7
        margin-right: 5px
      li
        font-size: 16px
  &--simple
    > li
      font-size: 22px
      li
        font-size: 16px
  &__item
    & + &
      margin-top: 15px
    &--highlighted
      background-color: #fff
      color: #fc2db7
      padding-top: 10px
      padding-bottom: 15px
      p
        color: black
        font-size: 16px

.col-1,
.col-2
  +dib
  width: 615px

.col-1
  margin-right: 20px
  font-weight: 400
  font-size: 22px
  color: #000000
  p
    & + p
      margin-top: 10px
    a
      text-decoration: none
  address
    font-style: normal
    margin-bottom: 10px
    line-height: 1
  small
    font-size: 16px
    font-style: normal
  .text-highlighted
    font-size: 22px
    line-height: 26px
    background-color: #fff
    color: #fc2db7
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 40px
    margin-bottom: 25px

.section.section--iframe
  margin-top: 80px

.iframe
  +dib
  &--fb
    margin-top: 57px
  & + &
    margin-left: 50px

.form
  padding-right: 20px
  text-align: center
  input
    font-family: 'pfdin-regular'
  &__input
    height: 40px
    background-color: #ffffff
    color: #444444
    font-size: 18px
    font-weight: 400
    width: 597px
    margin-left: 20px
    padding-left: 20px
    padding-right: 10px
    &169
      width: 169px
    &362
      width: 362px
    &408
      width: 408px

  &__text
    margin-bottom: 17px
    font-size: 18px
  textarea
    color: #444444
    font-size: 18px
    font-weight: 400
    height: 340px
    background-color: #ffffff
    padding-left: 20px
    resize: none
    width: 1213px
    margin-left: 20px
    border: none
    margin-top: 20px
    padding-bottom: 10px
    padding-top: 10px
    padding-right: 20px
    font-family: 'pfdin-regular'
  &--block
    margin-bottom: 70px
    .form__input
      display: block
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px

@each $cls in fb-small, vk-small
  .icon-#{$cls}
    +s(icon-#{$cls})
    &:hover
      +s(icon-#{$cls}--hover)
    &:active
      +s(icon-#{$cls}--release)

.form--login
  margin-left: 26px
  input[type='submit']
    margin-top: 8px
    padding: 7px 52px

.form--reg
  margin-top: 37px
  input[type='submit']
    margin-top: 7px
    padding: 7px 15px

.share
  span
    display: inline-block
    vertical-align: super
    margin-right: 15px
  &__social
    display: inline-block
    li
      display: inline-block
      & + li
        margin-left: 15px
    .icon
      display: inline-block

.index-page
  .btn--more
    padding: 7px 18px

.train-page
  .blog--simple
    .btn--more
      padding: 7px 22px
  .simple-page__title
    margin-bottom: 30px
  .train-form
    .form__input
      width: 319px
      height: 40px
      +placeholder
        color: #444444
        font-size: 18px
        font-weight: 400
    input.btn--submit
      padding: 5px 19px 8px 19px
      margin-top: 0
  .post__header
    margin-bottom: 18px
  .post__img
    margin-top: 20px
  .post__text
    &-big
      font-size: 22px
      span
        font-size: 16px
        display: block
    &--pink
      color: #fc2db7
    .train-form
      text-align: left
      input
        margin-left: 0
        margin-top: 20px
        margin-bottom: 20px



.cart-page
  .clear-cart
    float: right
    margin-top: 15px
  .simple-page__title
    margin-left: 170px

.cart
  &-list
    margin-bottom: 38px
    margin-top: 10px
  &-item
    +clr
    & + &
      margin-top: 39px
    &__left
      +dib
      width: 502px
      margin-right: 60px
  &__img
    width: 179px
    height: 134px
    +dib
    margin-right: 17px
  &__product-info
    +dib
  &__product-name
    margin-top: 19px
    font-size: 18px
    max-width: 300px
    &--big-margin
      margin-top: 83px

  &__product-size
    margin-top: 21px
    margin-bottom: 13px
  &__price,
  &-item__total
    margin-top: 55px
    margin-right: 85px
    +dib
    font-weight: 400
    line-height: 40px
    color: #000000
    font-size: 16px
    .product-price
      color: #444444
      font-size: 22px
  &-item__total
    margin-right: 0
  &__qty
    margin-right: 55px
    margin-top: 65px
    +dib
    .product-qty-input
      margin-top: 10px
  &__remove-item
    float: right
    +dib
    margin-top: 106px
  &__info
    float: right
    margin-bottom: 25px
  &__total
    margin-left: 61px
    +dib
    &-sum
      font-size: 22px
      font-weight: 400
      line-height: 40px
      color: #000000
    .product-price
      color: #444444
      font-size: 22px
      margin-bottom: 36px
    &-info
      width: 225px
      color: #fc2db7
      font-size: 16px
      font-weight: 400
  &__promo
    margin-top: 15px
    +dib
    .input-promo
      width: 259px
      height: 40px
      background-color: #ffffff
      color: #444444
      font-size: 18px
      font-weight: 400
      padding-left: 20px
      padding-right: 20px
      +placeholder
        color: #444444
        font-size: 18px
        font-weight: 400
    input[type='submit']
      padding: 5px 18px 8px 18px
  &__hr
    clear: both
  &__submit
    margin-right: 60px
    margin-bottom: 63px
    input
      padding-left: 39px
      padding-right: 38px

.order-page
  &.order-page--auth
    .method
      margin-top: 27px
  &__sum
    font-size: 22px
    font-weight: 400
    color: #000000
    span
      color: #444444
      line-height: 30px
    p:last-of-type
      margin-top: 10px
  .form__label--radio
    margin-bottom: 17px
    display: block
    color: #000000
    font-size: 22px
    font-weight: 400
    input
      display: none
      &:checked + span
        width: 17px
        height: 17px
        display: inline-block
        background-color: #fff
        border: 1px solid #9f9f9f
        border-radius: 50%
        position: relative
        &:hover
          background-color: #ddd
        &:after
          content: ''
          display: inline-block
          width: 5px
          height: 5px
          background-color: #444
          border-radius: 50%
          position: absolute
          top: 5px
          left: 5px
    span
      width: 17px
      height: 17px
      display: inline-block
      background-color: #fff
      border: 1px solid #9f9f9f
      border-radius: 50%
      position: relative
      margin-right: 9px
      vertical-align: baseline
      cursor: pointer
      &:hover
        background-color: #ddd

  .method
    margin-top: 43px
    &.payment-method
      margin-top: 33px
  .order-form
    text-align: left
    padding-right: 0
    .order-form__submit
      margin-top: -27px
      input
        margin-top: 0
    &__next
      margin-bottom: 40px
      input
        cursor: pointer
    div + div
      margin-top: 20px
    .form__input,
    textarea
      +placeholder
        color: #444444
        font-size: 18px
        font-weight: 400
    textarea
      width: 1168px
      height: 90px
      background-color: #ffffff
      margin-top: 0

.delivery-method
  .form__input--street
    width: 551px
  .form__text
    font-size: 16px
    font-weight: 400
    color: #000000
    margin-left: 40px
    p + p
      margin-top: 8px
    .text-pink
      color: #fc2db7
  .self-delivery
    margin-right: 20px
    font-weight: 400
    color: #000000
    font-size: 16px
    .form__text
      margin-left: 20px
    p
      & + p
        margin-top: 17px
      &:last-child
        margin-top: 18px
      a
        text-decoration: none
    address
      font-style: normal
      margin-bottom: 21px
      line-height: 1
    small
      font-size: 16px
      font-style: normal




.order-2-col
  margin-bottom: 164px
  &__left,
  &__right
    +dib
    width: 617px
    .form-authorize
      text-align: left
      padding-right: 0
      div + div
        margin-top: 20px
      .form__input
        +placeholder
          color: #444444
          font-size: 18px
          font-weight: 400
    .simple-page__subtitle
      max-width: 400px
      margin-left: auto
      margin-right: auto
      margin-top: 6px
      margin-bottom: 24px
  &__left
    .btn--submit
      padding-left: 54px
      padding-right: 54px
      margin-top: 0
  &__right
    .btn--submit
      padding-left: 28px
      padding-right: 28px
      margin-top: 0
    .form__input
      margin-left: 17px

.payment-method
  margin-bottom: 40px
  .form__text
    margin-left: 20px
    font-size: 16px
    color: #000

.form-lk
  text-align: left
  width: 620px
  .form__input
    margin-left: 0
    +placeholder
      color: #444444
      font-size: 18px
      font-weight: 400
    & + .form__input
      margin-left: 20px
  .input-wrap
    & + .input-wrap
      margin-top: 20px
  .subtitle
    color: #000000
    font-size: 22px
    font-weight: 400
    line-height: 50px
    margin-top: 35px
    margin-bottom: 2px

.lk-order
  &__content
    +clr
  &__title
    a
      font-weight: 400
      color: #000000
      font-size: 22px
      &:hover
        text-decoration: none
        color: #fc2db7
      &:active
        color: #9f9f9f
  &__methods
    font-size: 18px
    font-weight: 400
    color: #444444
    line-height: 1
    margin-bottom: 18px
  .cart__qty
  &__num
    color: #444
    font-size: 22px
    margin-top: 19px
  .cart__qty
    margin-right: 40px
    float: right
  .cart__price
    margin-right: 0
  .order-page__sum
    margin-right: 70px
    margin-bottom: 11px
    font-size: 16px
    float: right
    p:last-of-type
      font-size: 22px

.cabinet-page
  &--orders
    .breadcrumb
      margin-bottom: 20px
    .right-col__title
      margin-bottom: 18px
