.main-slider
  +dib
  width: 856px
  height: 520px
  background-color: #fff
  .slider
    &__in
      height: 520px
      position: relative
    &__img
      // max-width: 100%
      margin: 0 auto
    &__link
      display: block
      background-color: #ffffff
      opacity: 0.8
      position: absolute
      bottom: 0
      height: 130px
      right: 0
      left: 0
      padding-left: 25px
      padding-right: 25px
      padding-top: 20px
      color: #000000
      font-family: "PF Din Text Cond Pro"
      font-weight: 400
      &:hover
        color: #fc2db7
        text-decoration: none
      &:active
        color: #9f9f9f
    &__title
      font-size: 48px
    &__info
      font-size: 22px
      line-height: 30px
