---
title: Каталог
bodyClass: catalog-page
---
extends layouts/_layout
block content
  .content
    .container
      include partials/_sidebar
      include partials/_catalog-right-col


    include partials/_footer
