---
title: Контакты
bodyClass: contacts-page
---
extends layouts/_layout
block content
  .content.simple-page
    .container
      ul.breadcrumb.ml40
        li.breadcrumb__item
          a.breadcrumb__link(href="") Главная
        li.breadcrumb__item
          a.breadcrumb__link(href="") Контакты
      h1.simple-page__title Контакты
      section.section.simple-page__section
        h1.section__title.ml40 офис для самовывоза заказов
        hr.simple-page__hr
        .cols-2
          .col-1
            address.pl40 Адрес: 194352, г. Санкт-Петербург,
              br
              | м. Проспект Просвещения, Сиреневый бульвар, д. 23, к. 2
              br
              small (отдельный вход со двора - крайняя правая дверь с черной решеткой)
            p.pl40 Телефон:&nbsp;
              a(href="tel:+78122914463") (812) 291-44-63
            p.pl40 E-mail:&nbsp;
              a(href="mailto:mail@pastrychef.pro") mail@pastrychef.pro
            p.pl40 График работы:&nbsp;
              br
              time(datetime="Mo,Fr 9:00-17:30") ПН-ПТ с 9.00 до 17.30
              br
              | На выходных возможен самовывоз по предварительной договоренности.

            p.text-highlighted Перед тем как приехать, позвоните и сообщите о времени своего визита!
            .site-header__question.ml40
              a(href="")
                i.icon.icon-question
                | Задать вопрос
          .col-2
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10670.08076356967!2d30.355036760316096!3d60.04898528410601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469634b8a332a44f%3A0xaf88c5fcf6b4dd34!2z0YHQsNC0INCY0LLQsNC90LAg0KTQvtC80LjQvdCw!5e0!3m2!1sru!2sru!4v1489401945907" width="570" height="400" frameborder="0" style="border:0" allowfullscreen)
      section.section.section--iframe.text-center
        iframe.iframe.iframe--fb(name='f6c9392cebc33', width='359px', height='214px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:page Facebook Social Plugin', src='https://www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&app_id=304553036307597&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fao6eUeuGXQq.js%3Fversion%3D42%23cb%3Dfd5395478d27e8%26domain%3Dwww.pastrychef.pro%26origin%3Dhttps%253A%252F%252Fwww.pastrychef.pro%252Ff33b57aec6d69a8%26relation%3Dparent.parent&container_width=359&height=214&hide_cover=false&href=http%3A%2F%2Fwww.facebook.com%2Fpastrychefrus&locale=en_US&sdk=joey&show_facepile=true&show_posts=false&width=359', style='border: none; visibility: visible; width: 359px; height: 214px;')
        iframe#vkwidget1.iframe(name='fXDb382e', frameborder='0', src='https://vk.com/widget_community.php?app=0&width=220px&_ver=1&gid=108492994&mode=NaN&color1=%23FFFFFF&color2=%232B577A&color3=%235A7EA6&class_name=&height=320&url=https%3A%2F%2Fvkontakte-community.appspot.com%2Fapp%2Findex.html%3FcacheKiller%3D1489415609831%26compId%3Dcomp-iktpm1qu%26deviceType%3Ddesktop%26height%3D320%26instance%3Dh9ODGaTsk2EOczjUpjPKfoXvW_RSfRqtekkZ-eIPKBw.eyJpbnN0YW5jZUlkIjoiZThmNGNkMjUtYzY1NS00OTVkLWIyNjAtMjNhMWI0MDlmM2VlIiwic2lnbkRhdGUiOiIyMDE3LTAzLTEzVDE0OjMzOjI2LjAzN1oiLCJ1aWQiOm51bGwsImlwQW5kUG9ydCI6IjE3Ni4xMjAuMTk2LjI0OS8xNzA2OCIsInZlbmRvclByb2R1Y3RJZCI6bnVsbCwiZGVtb01vZGUiOmZhbHNlLCJhaWQiOiI0YjczZTAwMS00NjFhLTQ3ZGQtYTU1ZC05N2MxMjdmNjIxMjUiLCJiaVRva2VuIjoiYTEzMzgwNjUtNGFhOS0wODdjLTIwYTktNWFhNTRiMTRjNDIzIiwic2l0ZU93bmVySWQiOiIxYjAyNGI0Yy05ZmU5LTQzODUtYjA0ZC04MTgxZjQ3MDY0ZGEifQ%26locale%3Dru%26pageId%3Dw0apg%26viewMode%3Dsite%26vsi%3D0fef27d6-b349-4417-97b5-4e463f7426d5%26width%3D220&referrer=https%3A%2F%2Fwww.pastrychef.pro%2Fkontakty&title=VK%20Community&15ac816ad42', width='220', height='320', scrolling='no', style='overflow: hidden; height: 320px;')





    include partials/_footer
