---
title: Доставка
bodyClass: delivery-page
---
extends layouts/_layout
block content
  .content.simple-page
    .container
      ul.breadcrumb.ml40
        li.breadcrumb__item
          a.breadcrumb__link(href="") Главная
        li.breadcrumb__item
          a.breadcrumb__link(href="") Доставка и оплата
      h1.simple-page__title.ml20 Доставка и оплата
      h2.simple-page__subtitle.ml20 Уважаемые покупатели!
        br
        | Просим вас ознакомиться с правилами работы нашего магазина.
      section.section.simple-page__section
        h1.section__title.ml40 ОБЩИЕ ПРАВИЛА
        hr.simple-page__hr
        ul.list.list--unordered
          li Все товары, представленные в интернет-магазине, доступны для заказа и имеются в наличии на складе в Санкт-Петербурге. Количество доступных товаров можно уточнить по телефону или электронной почте.
          li Товары, на которых стоит надпись "под заказ", доступны для предварительного заказа с предоплатой 50%. Сроки выполнения заказа по каждой категории товаров можно уточнить у менеджера по телефону или электронной почте.
          li Заказы для розничных клиентов оформляются через сайт (раздел "Магазин") круглосуточно. Все вопросы, связанные с работой интернет-магазина, наличем товаров, сроками поставки и пр. можно задать через форму&nbsp;
            a(href="#") обратной связи
            | ,  или позвонив нам по телефону в рабочие дни с 9 до 17 часов.
          li Мы работаем с юридическими и физическими лицами по 100% предоплате.
      section.section.simple-page__section
        h1.section__title.ml40 СПОСОБЫ ОПЛАТЫ
        hr.simple-page__hr
        p.simple-page__section-desc.ml40 Вы можете оплатить заказ любым из предложенных способов.
        ul.list.list--ordered
          li Безналичный расчет
            ul
              li Для юридических и физических лиц.
              li После оформления заказа с вами свяжется менеджер и вышлет счет. После поступления денежных средств на наш расчетный счет доставка производится в течение 3-х рабочих дней.
          li Оплата на карту VISA (Сбербанк)
            ul
              li Для физических лиц.
              li После оформления заказа с вами свяжется менеджер и сообщит вам номер карты Сбербанка, на которую можно перевести сумму за заказ. После поступления денежных средств на карту доставка производится в течение 3-х рабочих дней.
          li Оплата картами VISA или Master Card при помощи сервиса Яндекс.Деньги
            ul
              li Для физических лиц.
              li После оформления заказа на сайте с вами свяжется менеджер и перенаправит вас на страницу оплаты.
          li Оплата наличными при самовывозе из офиса или курьеру при доставке
            ul
              li Для физических лиц.
              li Вы можете оплатить ваш заказ наличными при получении товара.
      section.section.simple-page__section
        h1.section__title.ml40 УСЛОВИЯ ДОСТАВКИ
        hr.simple-page__hr
        ul.list.list--simple
          li.list__item Для Санкт-Петербурга:
            ul
              li Мы осуществляем доставку по Санкт-Петербургу в пределах КАД.
              li Стоимость доставки составляет 250 руб.
              li Заказы на сумму выше 7000 руб., а также заказы оптовых клиентов доставляются бесплатно.
          li.list__item Для других городов РФ:
            ul
              li Мы отправляем заказы транспортными компаниями "Деловые линии" или "ПЭК". Услуги транспортных компаний оплачиваются заказчиком при получении товара. Доставку до терминала транспортной компании в Санкт-Петербурге мы осуществляем бесплатно.
              li Заказы весом до 5 кг мы можем отправить Почтой России. Тарифы зависят от веса посылки и дальности региона, и варьируются в пределах от 200 до 500 рублей.
          li.list__item.list__item--highlighted Для жителей Крыма!
            p При оформлении заказа на сайте вашего региона нет в базе, поэтому можно указать любой регион, например Ставропольский край, а потом уже вписать правильный город. Мы работаем над тем, чтобы в списке корректно отображались все регионы, но, к сожалению, пока исправить это не в наших силах.
      section.section.simple-page__section
        h1.section__title.ml40 САМОВЫВОЗ
        hr.simple-page__hr
        p.simple-page__section-text.ml40 Вы можете самостоятельно забрать свой заказ в офисе интернет-магазина только после согласования с менеджером времени вашего приезда.
          br
          | Посещение нашего офиса без предварительной договоренности не гарантирует наличие нужных Вам товаров.
          br
          | Адрес офиса и график работы можно посмотреть в разделе&nbsp;
          a(href="#") Контакты.



    include partials/_footer
