---
title: Index Page
bodyClass: index-page
---
extends layouts/_layout
block content
  .content
    include partials/_fav
    include partials/_news
    include partials/_hits
    include partials/_partners
    include partials/_index-blog-section
    include partials/_footer
