each item in ['ask-question', 'blog', 'cart', 'catalog', 'contacts', 'delivery', 'index', 'lk', 'login', 'no-product', 'order-no-auth', 'order-start', 'order-with-auth', 'order', 'pages', 'post', 'product', 'registration', 'search-result', 'train-blog', 'train']
  div
    a(href="#{item}.html" target="_blank") #{item}



