---
title: Обучение
bodyClass: train-page
---
extends layouts/_layout
block content
  .content.simple-page
    .container
      ul.breadcrumb
        li.breadcrumb__item
          a.breadcrumb__link(href="") Главная
        li.breadcrumb__item
          a.breadcrumb__link(href="") Обучение
        li.breadcrumb__item
          a.breadcrumb__link(href="") Мастер-классы
        li.breadcrumb__item
          a.breadcrumb__link(href="") Апрель: мастер-класс Нины Тарасовой в Санкт-Петербурге

      article.post
        h1.post__title.simple-page__title Апрель: мастер-класс Нины Тарасовой в Санкт-Петербурге
        header.post__header.ml40.mr40
          .post__meta
            a.post__category(href="") Мастер-классы
            time.post__time(datetime="01-02-2017") 01/02/2017
          .share.post__share
            span Поделиться:
            ul.share__social
              li: a(href=""): i.icon.icon-fb-small
              li: a(href=""): i.icon.icon-vk-small
        form.form.train-form(action="")
          input.form__input(type="email" placeholder="Введите Ваш e-mail")
          input.btn.btn--submit(type="submit", value="Записаться на мероприятие")
        .post__content.ml40.mr40
          .post__img.text-center
            img(src="img/train-img.png", alt="")
          .post__text
            p Весна – пора любви, в том числе любви к работе и хобби. Весна – время обновления. Время новых знаний, умений, встреч, открытий... К чему это мы? Да к тому, что в апреле мы организуем очередной мастер-класс Нины Тарасовой в ее родном Санкт-Петербурге.

            p Интересная насыщенная программа для – обратите, пожалуйста, на это внимание – продвинутых кондитеров, готовых к большому объему информации и интенсивной работе в течение всего дня.
              br
              | К тому же, в преддверии любимого весеннего праздника, такой трехдневный мастер-класс станет самым желанным подарком милых дам, увлеченных кондитерским искусством.
          .post__img.text-center
            img(src="img/train-img2.png", alt="")
          .post__text
            p Два трехдневных мастер-класса (3-5 апреля, и 6-8 апреля) состоятся в новом прекрасно оборудованном помещении "Кулинарной школы № 1" на Московском проспекте, 207.
              br
              | Программа на двух курсах абсолютно идентичная,  поэтому выбор зависит только от дат, которые вам больше подходят, и от наличия свободных мест в группах (максимальная наполненность группы 16 человек).

            p Занятия проходят в практическом формате - все участники делятся на команды по 2-3 человека и готовят отдельные элементы из программы, после чего все собирается в готовые изделия и шеф показывает варианты декора. Нина всегда дает очень много теоретического материала, поэтому вы получите ответы на все ваши вопросы.

            p.post__text-big В программе курса:

            p Торт "Эос"
              br
              | Лимонный бисквит на крем-фреш; земляничное желе; йогуртово-сметанный мусс; шантильи.

            p Торт "Венок"
              br
              | Бисквит с красными ягодами; штрейзель; компоте с красными ягодами; мусс с красными ягодами; зеркальная глазурь и шоколадный декор.

            p Торт "Флора"
              br
              | Хрустящая основа, базиликовый бисквит; йогуртово-лаймовый крем; базиликовое желе; мусс с зеленым яблоком и лаймом.

            p Торт "Юрате"
              br
              | Хрустящий слой с белым шоколадом и воздушным рисом; бисквит с шампанским и облепихой; крем-брюле с крем-чиз; мусс "чиз-кейк", шоколадный декор и белая зеркальная глазурь.

            p Пирожное "Снежная клубника"
              br
              | Ягодный бисквит; желе с бальзамическим уксусом и клубникой; облегченный клубничный крем; миндальный мусс; клубничное желе.

            p Торт "Peppy"
              br
              | Морковный бисквит с маком; манговый мусс с лимонным курдом; мусс маракуйя-лимон-лайм.

            p Захер в современной подаче

            p Пирожное "Лимончики"
              br
              | Шоколадный корпус; лимонный крем; лимонный мусс; хрустящий слой; лимонная глазурь.

            p Пирожное "Солнечный луч"
              br
              | Лимонный бисквит; груша в карамели с грушевым ликером; мусс с облепихой.

            p Тарт "Пина Колада"
              br
              | Фундучное песочное тесто; крем франжипан; лаймовое кремю; ананасы с ванилью и лаймом; ананасовый мусс.

            p Тарталетки "Карамель и попкорн"

            p Пирог "Тропики"
              br
              | Лаймово-кокосовый бисквит; кокосовый дакуаз; конфи манго-абрикос.

            p.post__text-big Даты и время проведения:
              span 3-5 апреля с 9 до 18 часов
              span 6-8 апреля с 9 до 18 часов
            p.post__text-big Стоимость: 28000 руб. (за три дня)

            p.post__text-big Для записи на мастер-класс необходимо сделать следующее:
              span Отправить нам заявку со адресом своей электронной почты.

            form.form.train-form(action="")
              input.form__input(type="email" placeholder="Введите Ваш e-mail")
              input.btn.btn--submit(type="submit", value="Записаться на мероприятие")

            p После того как группа будет сформирована, мы с вами свяжемся и вышлем договор и счет на предоплату.

            p.post__text--pink Место бронируется после внесения предоплаты в размере 50%.
          .post__img.text-center
            img(src="img/train-img3.png", alt="")
          .share.post__share.text-center.ml40
            span Поделиться:
            ul.share__social
              li: a(href=""): i.icon.icon-fb-small
              li: a(href=""): i.icon.icon-vk-small
      include partials/_reviews
    include partials/_train-blog-section





    include partials/_footer
