ul.blog__links
  each link in ['Кондитерский мир в лицах', 'Тренды', 'События', 'Новости', 'Кондитерские расследования', 'Обзор инвентаря и ингредиентов', 'Мастер-классы', 'Как это сделано', 'Кондитерский Start-up', 'Рецепты', 'Бизнес']
    li
      a(href="#")= link
