footer.site-footer
  .container
    .site-footer__contacts.ml40
      .site-footer__phone
        i.icon.icon-phone
        a(href="tel:78122914463") (812)&nbsp;
          strong 291-44-63,
        a(href="tel:79312559486") &nbsp;(931)&nbsp;
          strong 255-94-86
      .site-footer__email
        a(href="mailto:mail@pastrychef.pro") mail@pastrychef.pro
      .site-footer__right.mr40
        .site-footer__social
          ul
            li
              a(href="")
                i.icon.icon-inst
            li
              a(href="")
                i.icon.icon-fb
            li
              a(href="")
                i.icon.icon-vk
        .site-footer__question
          a(href="")
            i.icon.icon-question
            | Задать вопрос
  -var links = ['Каталог', 'Блог PastRyChef', 'Обучение', 'Доставка и оплата', 'Контакты']
  nav.site-footer__nav
    .container
      ul
        each link in links
          li
            a(href='#') #{link}
  .container
    p.site-footer__copy.ml40 © 2017 Pastrychef.pro г.Санкт-Петербург



