header.site-header
  .container
    .site-header__logo
      a(href="/")
        img(src="img/logo.png", alt="")
    .site-header__slogan.slogan
      p.slogan__text-border Интернет-магазин
      p.slogan__text-big профессиональных товаров
        br
        | для кондитеров
    .site-header__right.clr
      .site-header__login
        ul
          li
            a(href="#") Вход
          li
            a(href="#") Регистрация
      .site-header__contacts
        .site-header__phone
          i.icon.icon-phone
          a(href="tel:78122914463") (812)&nbsp;
            strong 291-44-63,
          a(href="tel:79312559486") &nbsp;(931)&nbsp;
            strong 255-94-86
        .site-header__email
          a(href="mailto:mail@pastrychef.pro") mail@pastrychef.pro
      .site-header__social
        ul
          li
            a(href="")
              i.icon.icon-inst
          li
            a(href="")
              i.icon.icon-fb
          li
            a(href="")
              i.icon.icon-vk
      .site-header__question
        a(href="")
          i.icon.icon-question
          | Задать вопрос
      .site-header__search
        form(action="")
          input(type="search", name="search")
          input(type="submit" value="Найти")


