.main-slider
  .slider
    -for (var i = 0; i < 3; i++)
      .slider__in
        img.slider__img(src="img/slider-img.png", alt="")
        a(href="#").slider__link
          p.slider__title Замороженные пюре PONTHIER
          p.slider__info (производство Франция)
