.pagination.text-center
  ul
    -for (let i = 1; i <= 44; i++)
      if (i == 6)
        li.pagination__item ...
      else if (i == 1)
        li.pagination__item
          a.active(href="") 1
      else if (i > 5 && i < 42)
      else
        li.pagination__item
          a(href="")= i
