section.section.blog.blog--simple
  .container
    header.blog--simple__header.ml40.mr40
      h1 Другие статьи по теме
    hr.simple-page__hr
    .blog__posts.grid.ml40.mr40
      -for (let i = 0; i < 3; i++)
        each post, i in [[{link: 'Кондитерский ресторан Сары Барбер', category: 'Новости'}], [{link: 'Pierre Marcolini открыл шоколадный бар в Париже', category: 'Кондитерский мир в лицах'}], [{link: 'Выставка Sirha 2017: территория вдохновения', category: 'Тренды'}], [{link: 'Что нового? Кондитерские тренды года', category: 'События'}]]
          .blog__post.blog-post.grid-item
            p.blog-post__category: a(href="")= post[0].category
            a(href="")
              img.blog-post__img(src="img/blog#{i + 1}.png", alt="blog-post")
            p
              time.blog-post__time(datetime="01-02-2017" pubdate) 01/02/2017
              span.blog-post__author Автор: Елена Комболина
            p: a.blog-post__link(href="#")= post[0].link
            hr.blog-post__hr
    div.text-center
      button.btn.btn--more Читать дальше


