aside.main-sidebar.sidebar
  ul.sidebar__list
    each link in ['Инвентарь', 'Силиконовые формы для тортов и пирожных', 'Формы из нержавейки', 'Термометры', 'Кондитерские мешки, насадки, ленты', 'Для шоколада', 'Ингредиенты', 'Замороженные пюре Ponthier (Понтье)', 'Красители и аэрозоли', 'Кондитерские ингредиенты', 'Ореховые пасты, миндальная мука', 'Шоколад и какао-продукты', 'Упаковка для тортов и пирожных', 'Коробки для тортов и пирожных', 'Коробки для конфет', 'Подложки для тортов и пирожных', 'Книги и журналы', 'Бумажные формы, бумага для выпечки']
      li.sidebar__item: a.sidebar__link(href="#") #{link}
