include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    block header
      if bodyClass.indexOf('order-page--auth') > -1
        include ../partials/_header-auth
      else
        include ../partials/_header
    block content

    block scripts
      script(src="js/app.js")
